@{
    ViewData["Title"] = "About";
}
    
<div class="container-fluid  d-flex align-items-center justify-content-center background rounded bg-yellow">
    <div class="row w-100">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start p-5">
            <h1 class="display-4">About us</h1>
            <p class="lead">Your one-stop shop for finding your perfect pet companion. Explore our wide range of pets and find the one that suits your lifestyle.</p>
            <a href="@Url.Action("Index", "Contact")" class="btn btn-primary btn-lg mt-3">Contact</a>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center ">
            <img src="~/images/about_us.png" alt="Cat or Dog" class="img-fluid">
        </div>
    </div>
</div>

@section Styles {
    <style>
        /* Page-specific CSS */
        .background{
            margin-top: 200px;
        }
        .img-fluid{
            width: 773px;
            hight:auto;
            flex-shrink: 0;
            padding: 20px;
        }

    </style>
}
@section Scripts {
    <script>
        // Page-specific JavaScript
        console.log('Contact page script loaded.');
    </script>
}
